{% extends './components/base.html' %} {% block head %}
<title>Daftar User</title>
{% endblock %} {% block body %} {% include './components/navbar.html' %}

<div class="daftar row">
	<h1>DAFTAR USER</h1>

	<table class="table table-light table-striped text-center">
		<tr>
			<th>Kode User</th>
			<th>Nama</th>
			<th>No Telepon</th>
			<th>Email</th>
			<th>Status</th>
			<th>ACTION</th>
		</tr>

		{% for data in container %}
		<tr>
			<td>{{ data[0] }}</td>
			<td>{{ data[1] }}</td>
			<td>{{ data[2] }}</td>
			<td>{{ data[3] }}</td>
			<td>{{ data[5] }}</td>
			<td>
				<!-- <a href="#">Edit</a>
            <a href="#">Hapus</a> -->
				<a class="btn btn-sm btn-warning" href="/sendEmail/{{ data[3] }}">Kirim Email</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}
