{% extends './components/base.html' %} {% block head %}
<title>Beranda</title>
{% endblock %} {% block body %} {% include './components/navbar.html' %}

<div class="row beranda">

	<div class="opsi">
		<h1 class="">Beranda Admin</h1>

		<div class="row">
			<a class="btn btn-primary" href="{{ url_for('daftarUser') }}"
				>Daftar User</a
			>
			<a class="btn btn-primary" href="{{ url_for('daftarKamar') }}"
				>Daftar Kamar</a
			>
			<a class="btn btn-primary" href="{{ url_for('daftarReservasi') }}"
				>Daftar Reservasi</a
			>
		</div>
	</div>
</div>
{% endblock %}
