{% extends './components/base.html' %} 

{% block head %}
<title>Kirim Email</title>
{% endblock %}

{% block body %}
{% include './components/navbar.html' %}
<div class="row email">
<h1>KIRIM EMAIL</h1>

<form action="" method="post" class="form">
    <div>
    <label class="form-label" for="sender">Nama Pengirim</label>
    <input class="form-control" type="text" name="sender" id="" required maxlength="100">
</div>

<div>
    <label class="form-label" for="subject">Subject</label>
    <input class="form-control" type="text" name="subject" id="" required maxlength="500">
</div>

<div>
    <label class="form-label" for="receiver">Penerima</label>
    <input class="form-control" type="email" name="receiver" id="" required maxlength="100" value="{{ container }}" readonly>
</div>

<div>
    <label class="form-label" for="isiPesan">Isi Pesan</label>
    <textarea class="form-control" name="isiPesan" id="" cols="30" rows="10"></textarea>
</div>
    
    <button class="btn btn-success" type="submit">KIRIM</button>
</form>
</div>

{% endblock %}