{% extends './components/base.html' %} 

{% block head %}
<title>LOGIN</title>
{% endblock %}

{% block body %}
{% include './components/navbar.html' %}

<h1>HALAMAN LOGIN</h1>

<form method="POST" action="" class="">
    <label for="email">EMAIL</label>
    <input type="email" name="email" id="" required maxlength="100">

    <label for="password">PASSWORD</label>
    <input type="password" name="password" id="" required maxlength="100">

    <button type="submit">SUBMIT</button>
    <button type="reset">RESET</button>
</form>

<a href="{{ url_for('register') }}">REGISTER</a>

{% endblock %}