{% extends './components/base.html' %} 

{% block head %}
<title>REGISTER</title>
{% endblock %}

{% block body %}
{% include './components/navbar.html' %}
<h1>HALAMAN REGISTER</h1>

<form method="POST" action="" class="">
    <label for="nama">NAMA</label>
    <input type="text" name="nama" id="" required maxlength="100">

    <label for="notelp">NO TELEPON</label>
    <input type="text" name="notelp" id="" required maxlength="100">

    <label for="kode_user">USERNAME</label>
    <input type="text" name="kode_user" id="" required maxlength="100">

    <label for="email">EMAIL</label>
    <input type="email" name="email" id="" required maxlength="100">

    <label for="password">PASSWORD</label>
    <input type="password" name="password" id="" required maxlength="100">

    <button type="submit">SUBMIT</button>
    <button type="reset">RESET</button>
</form>
{% endblock %}