{% extends './components/base.html' %} {% block head %}
<title>Register</title>
{% endblock %} {% block body %} {% include './components/navbar.html' %}
<div class="row register">
	<h1>Register</h1>
	<form method="POST" action="" class="form">
		<div class="mb-3">
			<label class="form-label" for="nama">NAMA</label>
			<input
				class="form-control"
				type="text"
				name="nama"
				id=""
				required
				maxlength="100"
			/>
		</div>
		<div class="mb-3">
			<label class="form-label" for="notelp">NO TELEPON</label>
			<input
				class="form-control"
				type="text"
				name="notelp"
				id=""
				required
				maxlength="100"
			/>
		</div>
		<div class="mb-3">
			<label class="form-label" for="kode_user">USERNAME</label>
			<input
				class="form-control"
				type="text"
				name="kode_user"
				id=""
				required
				maxlength="100"
			/>
		</div>
		<div class="mb-3">
			<label class="form-label" for="email">EMAIL</label>
			<input
				class="form-control"
				type="email"
				name="email"
				id=""
				required
				maxlength="100"
			/>
		</div>
		<div class="">
			<label class="form-label" for="password">PASSWORD</label>
			<input
				class="form-control"
				type="password"
				name="password"
				id=""
				required
				maxlength="100"
			/>
		</div>

		<div>
			<button class="btn btn-success" type="submit">SUBMIT</button>
			<button class="btn btn-secondary" type="reset">RESET</button>
		</div>
	</form>
</div>
{% endblock %}
