{% extends './components/base.html' %} {% block head %}
<title>Tentang Kami</title>
{% endblock %} {% block body %} {% include './components/navbar.html' %}


<div class="row tentangKami">
    <h1>Tentang Kami</h1>
	<div>
		<h3>Profil Hotel</h3>
		<p>
			Di kota dengan energi, sejarah, dan budaya yang tak ada
			bandingannya, Hotel GranDhika Iskandarsyah Jakarta menandai era baru
			keramahan bintang 4 yang ramah di lingkungan paling dinamis di Area
			Blok M Jakarta Selatan. Dari sini, berjalan kaki singkat ke
			toko-toko dan restoran modis yang dapat ditemukan di Pasaraya Blok
			M, Blok M Plaza, Melawai dan Blok M Square yang terkenal. Hotel
			GranDhika Iskandarsyah Jakarta adalah permata yang belum ditemukan
			yang memadukan gaya dan suasana perkotaan dengan fasilitas bintang 4
			dan layanan pribadi. Menawarkan pemandangan kota Jakarta yang
			menakjubkan, 236 kamar dan suite kami dilengkapi dengan desain dan
			dekorasi modern dan semua kenyamanan yang dicari oleh pelancong
			bisnis dan rekreasi. Kami berharap dapat menyambut Anda di salah
			satu hotel terbaru dan paling menarik di Jakarta.
		</p>
	</div>

    <div>
        <h2>Hotel GranDhika Iskandarsyah Jakarta menawarkan 236 kamar dengan 4 tipe kamar.</h2>
    </div>

	<div>
		<h3>Fasilitas Hotel</h3>
		<ul>
			<li>11 ruang pertemuan</li>
            <li>Restoran Kalandara</li>
            <li>Lounge Enam Puluh Lima</li>
            <li>Origami Roof Dining</li>
            <li>5 Petales Bakery and Pastry</li>
            <li>Pusat bisnis</li>
            <li>Kebugaran & Kesehatan</li>
            <li>Kolam renang</li>
            <li>Akses Wi-Fi Gratis</li>
            <li>Makan di kamar 24 jam</li>
            <li>Layanan keamanan 24 jam</li>
            <li>Layanan valet</li>
            <li>Fasilitas parkir</li>
		</ul>
	</div>
</div>
{% endblock %}
